!!! 5
html(lang:"en")
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="viewport", content="width=1024, initial-scale=1, user-scalable=no")
    != SocketStream
    title Infinite Button, Cooperative mode
  body
    #header Infinite Button Cooperative Edition 2.0
    #content
      button#button Press me !
      #footer
         span Visitor connected :
         span#connected
         span | Visitor pressing the button :
         span#pressing
    script(type="text/javascript")
       $("#button").mousedown(function(e){
          SS.server.app.userPress()
       })
       $("#button").mouseup(function(e){
          SS.server.app.userRelease();
       });
       var x,y;
       $("body").mousemove(function(e){
          x = e.pageX;
          y = e.pageY;
       })
       $(document).everyTime(2000,function(i){
        SS.server.app.updateMousePosition({x:x,y:y})
       },0);
       $(window).unload(function(){ SS.server.app.logout() })